.navbar {
    color: rgb(30, 192, 197) ;
  }
  .navbar-nav a {
    font-size: 20px;
    margin-left: 30px;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
  }
  .head {
    font-size: 60px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
  }
  #main {
    transition: margin-left 0.5s;
    padding: 3px;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #343a40;
    border: none;
    display: block;
  }
  .active, .nav-link:hover {
    color: white !important;
  }